{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid product-page">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Contact Us</h2>
                <hr class="w-100">
            </div>
        </div>
<form class="display" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">
      <label for="exampleFormControlInput1" class="text-color">Email address</label>
      <input type="email" name="contact_email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com*" required>
      </div>
    </div>
        <div class="row">
          <div class="col">
            <label for="fname" class="text-color">First Name</label>
            <input type="text" name="first_name" class="form-control" id="fname" placeholder="First name*" required>
          </div>
          <div class="col">
            <label for="sname" class="text-color">Surname</label>
            <input type="text" name="second_name" class="form-control" id="sname" placeholder="Surname">
          </div>
        </div>
    <div class="row">
        <div class="col">
      <label for="exampleFormControlTextarea1" class="text-color">Your Message</label>
      <textarea class="form-control" name="subject" id="exampleFormControlTextarea1" placeholder="Write your message to EXECUStore here" rows="8" required></textarea>
    </div>
    </div>
    <div class="row button-row mt-1">
    <button class="btn btn-black btn-block" type="submit" value="submit">Send Message</button>
    </div>
</form>
    </div>


{% endblock %}