{% load static %}

<!doctype html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,400;1,800&display=swap" rel="stylesheet">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/d9ab83fadf.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>ExecuStore {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header class="container-fluid fixed-top nav-header">
        <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font my-0"><strong>Execu</strong>Store</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our collections">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-inform font-weight-bold{% else %}text-inform{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-cash-register fa-lg icon1"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-color w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars icon1"></i>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-color-dark text-color">
                <h4 class="logo-font">Free delivery over €{{ free_delivery_threshold }}</h4>                
            </div>            
        </div>
    </header>
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
              {% with message.level as level %}
                  {% if level == 40 %}
                      {% include 'includes/toasts/toast_error.html' %}
                  {% elif level == 30 %}
                      {% include 'includes/toasts/toast_warning.html' %}
                  {% elif level == 25 %}
                      {% include 'includes/toasts/toast_success.html' %}
                  {% else %}
                      {% include 'includes/toasts/toast_info.html' %}
                  {% endif %}
              {% endwith %}
          {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    {% endblock %}

<footer>
    <div class="info-container h-50">
      <div class="row h-100">
          <div class="col-12 col-md-6 info-style">
              <h3 class="info-title">
                  Who we are?
              </h3>
              <p>
                  The team at EXECUStore is a dedicated team of perfectionists, that tailor to modern tastes.  
                  We established EXECUStore in 2013 with a combined love for fashion and timepieces.
                  We are determined to create a platform that can make it easy for our loyal customers to get exactly what they want.
              </p>
              <h3 class="info-title"> 
                  Get in touch
              </h3>
              <p>
                  Republic Street, <br>
                  Valetta, <br>
                  Malta.<br>
                  +353 102333421
                  <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=e5c9ce3ed256af45654f3762c&amp;id=3f5825c5d0&amp;f_id=003dd7e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <h2>Join the EXECUClub</h2>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
	<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e5c9ce3ed256af45654f3762c_3f5825c5d0" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button text-color">
                <p class="brandingLogo"><a href="http://eepurl.com/ihjzwz" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
              </p>
          </div>
<!--End mc_embed_signup-->
        <div class="col-12 col-md-6">
            <div class="team-photo">
                <img src="{{ MEDIA_URL }}footer.jpg" class="img-fluid team-photo" alt="team photo">
        <br>
            <a href="https://www.googlemaps.com/" target="_blank">
                <img src="{{ MEDIA_URL }}maps.jpg" class="img-fluid" alt="map photo">
            </a>
            </div>
            <div class="col-12 col-md-6" id="privacy">
                <a href="https://www.privacypolicygenerator.info/live.php?token=8mDsx73k4UpV0Iv3SMkq8C7KnSp67knw" target="_blank" class="text-inform">Privacy Policy</a>
            </div>
        </div>
      </div>
    <div class="container-fluid footer-style">
      <div class="row">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="nav-link footer-logo-link text-color">
            <h2 class="logo-font my-0">EXECUStore</h2>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline list-unstyled text-center text-lg my-0">
            <li class="list-inline-item"><a class="footer-icon" href="https://www.instagram.com/"><i class="fab fa-lg fa-instagram"></i></a></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"><a class="footer-icon" href="https://www.facebook.com/profile.php?id=100088686742068"><i class="fab fa-lg fa-facebook-f"></i></a></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"><a class="footer-icon" href="https://www.twitter.com/"><i class="fab fa-lg fa-twitter"></i></a></li>
          </ul>
        </div>
        
        <div class="col-12 col-lg-4 text-black my-auto py-1 py-lg-0 text-lg-right footer-centre">
          © BLUE Design
        </div>
      </div>
    </div>
    </div>
</footer>   
</body>
</html>